<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="site4.css">
<title>Untitled Document</title>
</head>

<body>
<div id="leftMenu">
	<div id="wc" class="leftMenuBox">W</div>
	<div id="rc" class="leftMenuBox">R</div>
	<div id="tc" class="leftMenuBox">T</div>
	<div id="tc" class="leftMenuBox">P</div>
	<div id="tc" class="leftMenuBox">R</div>
	<div id="tc" class="leftMenuBox">P</div>
	<div id="tc" class="leftMenuBox">GE</div>
	<div id="tc" class="leftMenuBox">?</div>
	<div id="tc" class="leftMenuBox">A</div>
	<div id="tc" class="leftMenuBox">S</div>
</div>
<div id="weatherMap"></div>
<div id="statusBar">Loading Site...</div>
</body>
</html>
