<style type="text/css">
<!--
-->
</style>
<link rel="stylesheet" type="text/css" href="../style34.css">
<div class="ldb_table">
<table class="ldb_tbl"><tbody><tr><td colspan="7" title="Data Source" class="st_name">Telford Central</td></tr>
</tbody><colgroup xmlns="http://www.w3.org/1999/xhtml">
<col class="stations">
<col class="times">
<col class="ontime">

<col class="stations">
<col class="times">
<col class="ontime">
<col class="tocs">
<col>
</colgroup>
<tbody xmlns="http://www.w3.org/1999/xhtml">
<tr>

<td class="lastupdate" title="Last update time" colspan="7">
Last updated: 05/12/2005 14:36:30</td>
</tr>


<tr>
<th scope="col" class="stations">From</th>
<th scope="col" class="times" abbr="at">Timetabled<br>Arrival</th>
<th scope="col" class="ontime" abbr="expected">Expected<br>Arrival</th>

<th scope="col" class="stations">To</th>
<th scope="col" class="times" abbr="at">Timetabled<br>Departure</th>
<th scope="col" class="ontime" abbr="expected">Expected<br>Departure</th>
<th scope="col" class="tocs">Operator</th>
</tr>


<tr class="altrows">
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748152&amp;R=0">Bangor (Gwynedd)</a></td>
<td class="times">1444</td>

<td class="times">1449</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748152&amp;R=0">Birmingham New Street</a></td>
<td class="times">1444</td>
<td class="times">1449</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=AW">Arriva Trains Wales</a></td>
</tr>


<tr>
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746696&amp;R=0">Wellington (Shropshire)</a></td>

<td class="times">1452</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746696&amp;R=0">Walsall</a></td>
<td class="times">1452</td>
<td class="noinfo">No report</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=CT">Central Trains</a></td>
</tr>


<tr class="altrows">

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748181&amp;R=0">Birmingham New Street</a></td>
<td class="times">1506</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748181&amp;R=0">Pwllheli</a> &amp; <a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748181&amp;R=0">Aberystwyth</a></td>
<td class="times">1506</td>
<td class="noinfo">No report</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=AW">Arriva Trains Wales</a></td>
</tr>


<tr>
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5745700&amp;R=0">Shrewsbury</a></td>
<td class="times">1513</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5745700&amp;R=0">Birmingham New Street</a></td>
<td class="times">1513</td>
<td class="noinfo">No report</td>

<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=CT">Central Trains</a></td>
</tr>


<tr class="altrows">
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746459&amp;R=0">Walsall</a></td>
<td class="times">1523</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746459&amp;R=0">Wellington (Shropshire)</a></td>
<td class="times">1523</td>

<td class="noinfo">No report</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=CT">Central Trains</a></td>
</tr>


<tr>
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746460&amp;R=0">Birmingham New Street</a></td>
<td class="times">1532</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746460&amp;R=0">Shrewsbury</a></td>

<td class="times">1532</td>
<td class="noinfo">No report</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=CT">Central Trains</a></td>
</tr>


<tr class="altrows">
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748859&amp;R=0">Aberystwyth</a> &amp; <a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748859&amp;R=0">Pwllheli</a></td>
<td class="times">1543</td>

<td class="ontime">On time</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748859&amp;R=0">Birmingham New Street</a></td>
<td class="times">1543</td>
<td class="ontime">On time</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=AW">Arriva Trains Wales</a></td>
</tr>


<tr>
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746697&amp;R=0">Wellington (Shropshire)</a></td>

<td class="times">1553</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746697&amp;R=0">Walsall</a></td>
<td class="times">1554</td>
<td class="noinfo">No report</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=CT">Central Trains</a></td>
</tr>


<tr class="altrows">

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748089&amp;R=0">Birmingham New Street</a></td>
<td class="times">1607</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5748089&amp;R=0">Chester</a></td>
<td class="times">1607</td>
<td class="noinfo">No report</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=AW">Arriva Trains Wales</a></td>
</tr>

<tr>
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5745723&amp;R=0">Shrewsbury</a></td>
<td class="times">1616</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5745723&amp;R=0">Birmingham New Street</a></td>
<td class="times">1616</td>
<td class="noinfo">No report</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=CT">Central Trains</a></td>
</tr>


<tr class="altrows">
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746462&amp;R=0">Walsall</a></td>
<td class="times">1625</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746462&amp;R=0">Wellington (Shropshire)</a></td>
<td class="times">1625</td>
<td class="noinfo">No report</td>

<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=CT">Central Trains</a></td>
</tr>


<tr>
<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746463&amp;R=0">Birmingham New Street</a></td>
<td class="times">1632</td>
<td class="noinfo">No report</td>

<td><a target="_blank" href="http://www.livedepartureboards.co.uk/virgintrains/train.aspx?T=TELFRDC+&amp;J=5746463&amp;R=0">Shrewsbury</a></td>
<td class="times">1632</td>

<td class="noinfo">No report</td>
<td class="tocs"><a target="_blank" href="http://www.nationalrail.co.uk/companies/?atocCode=CT">Central Trains</a></td>
</tr>
</tbody><tbody><tr><td colspan="7" title="Data Source" class="copy_text"><a href="http://www.livedepartureboards.co.uk/ldb/summary.aspx?T=TFC" target="_blank">Data from National Rail Live Departure Boards</a></td></tr><tr><td colspan="7" title="Data Source" class="copy_text"><a href="http://www.atoc.org" target="_blank">© Association of Train Operating Companies 2004</a></td></tr></tbody></table>
</div>
